{% extends "layout.html.twig" %}
{% block body %}
<div class="container mt-5">
    <h1 class="titre-responsive">Modifée une entite</h1>

    {{ include('entite/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="text-show-responsive-detail">
        <a href="{{ path('entite_index') }}">Retourne à la liste</a>
    </div>

    {{ include('entite/_delete_form.html.twig') }}
</div>
{% endblock %}
