{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">

        <h1 class="titre-responsive">Ajouter une annonce</h1>

        <div class="text-show-responsive-detail">
            {{ include('annonce/_form.html.twig') }}
        </div>

        <a class="edit-btn btn-responsive-global" href="{{ path('annonce_index') }}">Liste des annonces</a>
        <a href="{{ path('crud_list') }}" class="edit-btn btn-responsive-global ml-0">Menu</a>
    </div>
{% endblock %}
