{% extends "layout.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="container cadre">
    <h1 class="titre-responsive">Créer un Tag</h1>

    <div class="text-show-responsive-detail">
        {{ include('tag/_form.html.twig') }}
    </div>

    <a href="{{ path('tag_index') }}"  class="edit-btn btn-responsive-global">Liste des tags</a>
    <a href="{{ path('crud_list') }}" class="edit-btn btn-responsive-global ml-0">Menu</a>
</div>
{% endblock %}
