<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Contact</title>
</head>
<body>

<h1>Message envoyé par formulaire de contact</h1>
<hr>
<h2>Message</h2>
<p>{{ contenu }}</p>

<hr>
Vous pouvez répondre à {{ nom|upper }} {{ prenom|capitalize }}
à l'adresse <span style="color: var(--second-color); font-weight: bold">{{ email }}</span>
</body>
</html>

