{{ form_start(form) }}
    {{ form_widget(form, {'attr': { 'class' : 'form-maintenance-responsive' }}) }}
    <button class="edit-btn btn-responsive-global">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
