{% extends "layout.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="container cadre">
    <h1 class="titre-responsive">Modifier l'entreprise</h1>

    <div class="text-show-responsive-detail">
    {{ include('entreprise/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
    <a href="{{ path('entreprise_index') }}" class="edit-btn btn-responsive-global ml-0">Liste des entreprises</a>
    <a href="{{ path('crud_list') }}" class="edit-btn btn-responsive-global ml-0">Menu</a>

    <div class="text-show-responsive-detail">
    {{ include('entreprise/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
