{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-2 col-lg-3"></div>
            <div class="col-sm-12 col-md-8 col-lg-6">
                <h1 class="titre-responsive">Barre de recherche</h1>
                <div class="form-group">
                    <input class="form-control form-maintenance-responsive" type="text" id="search-isbn" value="" placeholder="Rechercher un isbn"/>
                </div>
                <div id="result-isbn" style="margin-top: 5em;"></div>
            </div>
        </div>
        <a class="edit-btn btn-responsive-global" href="{{ path('operations_articles') }}">Retour</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{asset('assets/js/bootstrap.js')}}"></script>
    <script>
        $(document).ready(function(){
            $('#search-isbn').keyup(function(){
                $("#result-isbn").html('');
                let isbn = $(this).val();
                if(isbn !== ""){
                    console.log(isbn);
                    axios.get('/articles/get/'+isbn)
                        .then(function (response) {
                            var livre = response.data;
                            console.log(livre.titre)
                            let ligne = 'Titre : ' + livre.titre +'<br>';
                            ligne += 'Sous Titre : ' + livre.sous_titre +'<br>';
                            ligne += 'Auteur : ' + livre.auteur +'<br>';
                            ligne += 'Editeur : ' + livre.editeur +'<br>';
                            ligne += 'Date de publication : ' + livre.dateDePublication +'<br>';
                            ligne += 'Description : ' + livre.description +'<br>';
                            ligne += 'ISBN : ' + livre.isbn +'<br>';
                            ligne += 'Image  : ' +'<img src="'+livre.image+'">' +'<br>';
                            let data = [livre.titre,livre.sous_titre,livre.auteur,livre.editeur,livre.dateDePublication,livre.description,livre.isbn,livre.image];
                            let url = "{{ path('add_livre') }}"
                            ligne += '<form class="d-lg-inline-block" action="'+url+'" method="POST">';
                            ligne += '<input type="hidden" name="titre" value="'+data[0]+'">';
                            ligne += '<input type="hidden" name="sous_titre" value="'+data[1]+'">';
                            ligne += '<input type="hidden" name="auteur" value="'+data[2]+'">';
                            ligne += '<input type="hidden" name="editeur" value="'+data[3]+'">';
                            ligne += '<input type="hidden" name="dateDePublication" value="'+data[4]+'">';
                            ligne += '<input type="hidden" name="description" value="'+data[5]+'">';
                            ligne += '<input type="hidden" name="isbn" value="'+data[6]+'">';
                            ligne += '<input type="hidden" name="image" value="'+data[7]+'">';
                            ligne += '<button type="submit" class="btn btn-success btn-sm"</i>Créer un livre</button>'
                            ligne += '</form>';
                            document.getElementById("result-isbn").innerHTML=ligne;
                        })
                        .catch(function (error) {
                            console.log("La recherche a rencontré un problème");
                        });
                }
            });
        });
    </script>
{% endblock %}