<footer>
  <div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="#" class="lien">Mention Légales</a>
        </div>
        <div class="col-sm">
            <a href="{{ path('contact') }}" class="lien">Nous contacter</a>
        </div>
    </div>
    <small><i>© {{ "now"|date("Y") }} Copyright | V 2.0.0 | Médiathèque Thales - Brest</i></small>
  </div>
</footer>